<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.tinkoff.fintech.task_manager.dao.TaskRepository">

    <insert id="save" parameterType="ru.tinkoff.fintech.task_manager.model.Task">
        INSERT INTO tasks (task_id, text, column_id, project_id)
        VALUES (#{id}, #{text}, #{columnId}, #{projectId})
    </insert>

    <select id="findById" parameterType="ru.tinkoff.fintech.task_manager.model.Task" resultMap="TaskMap">
        SELECT *
        FROM tasks
        WHERE task_id = #{id}
    </select>

    <select id="findAllTasksOfProject" parameterType="ru.tinkoff.fintech.task_manager.model.Project">
        SELECT *
        FROM tasks
        WHERE project_id = #{projectId}
    </select>

    <delete id="delete" parameterType="ru.tinkoff.fintech.task_manager.model.Task">
        DELETE
        FROM tasks
        WHERE task_id = #{id}
    </delete>

    <update id="edit" parameterType="ru.tinkoff.fintech.task_manager.model.Task">
        UPDATE tasks
        SET text = #{text}, column_id = #{columnId}, project_id = #{projectId}
        WHERE task_id = #{id}
    </update>

    <resultMap id="TaskMap" type="ru.tinkoff.fintech.task_manager.model.Task">
        <id property="id" column="task_id"/>
        <result property="text" column="text"/>
        <result property="columnId" column="column_id"/>
        <result property="projectId" column="project_id"/>
    </resultMap>
</mapper>